<style>
*{
    background: #f4e1d2;
    margin : auto;
    text-align : center;
}
h1{
    font-color : #f18973;
    margin : auto;
    padding : 10px;
    font-size : 300%;
    text-shadow : 2px 3px #f18973;
}
p{
    display: block;
    padding: 30px;
    font-size: 30px;
    text-align: center;
    background-color: #f18973;
    width: fit-content;
}
a{
    color : #f18973;
    background-color : #f4e1d2;
    border : 2px solid #f18973;
    text-align : center;
    padding : 10px;
    margin : 30px;
    text-decoration : underline;
    display : inline-block;
    border-radius : 5px;
}
</style>
<h1>ABOUT</h1>

<p>멋쟁이 사자처럼의 워드카운터 홈페이지 입니다. 
<br>글씨를 작성 시 단어 수와 사용된 단어 갯수를 알수 있습니다</p>

<a href="{% url 'home' %}">home으로 돌아가기</a>